extends ../articlebase
block articleTitle
  | I multiplied my bankroll 10x in under two months
block articleContent
  p
    | The first time I heard about Edgebet my first thought was wow - this sounds cool. I gotta admit, I thought it sounded to good to be true. Prior to Edgebet, I had no interest for sport at all.
  p
    | Being a bit skeptical at first I started with $100 just to check out what the fuzz was about. After playing for a week I lost some money, but I dind't feel like I had given it a real shot. I realized that if I wanted to get anywhere with this, aka earningsome real money I had to invest more. I upped my bankroll to somewhere between $800 and $1000. This was when things started to get really interesting.
  p
    | I started to play more, put more bets and signed up for a couple more sites. I knew it was very unlikely - but still a theoretical chance I could lose my entire bankroll, so I didn't want to invest more than the $1000. With that in mind I didn't think very much about how much to place on each bet, I just followed the suggested bet size.
  img.responsive-img(src='/static/img/tobias_nbets.png',
  width='70%')
  p
    | After my first month my total profit was $3500. On average I spent around an hour a day, so the money-to-time ratio was better than any job I've ever had. With more money in my bankroll, naturally the winnings increased as well, and now less than two months after I placed my first bet I have a profit (excluding my initial investment) of $9000.
  img.responsive-img(src='/static/img/tobias_roi.png',
  width='70%')
  p
    | As a student, this is a great part time job for me. When I'm reading and working on assignment I often have the Edgebet page open in a tab to place bets as fast as possible to take advantage of the best edges. It's great for multitasking, and doesn't really feel much like work to me.
  p
    | I'm definately still new at the game, but I feel I have a few tips to share. First of all, the weekends is when everything is happening. I can easily place half my bankroll in 30 minutes or less giving me an excellent turnover.
    | My best bookmakers so far have been Bet365, Betway, Betsafe, Nordicbet and Marathonbet. Many of these pages also have sign up bonuses up to $450, so be smart and max out the bonuses because you can only use them once.
  p
    | Remember, in the starting phase it’s possible to have a negative profit, but just keep playing, you are in for the long run.
