extends ../articlebase
block articleTitle
  | Increasing the value of bookmakers
block articleContent
  p
    | In this article, I'll discuss different personal strategies used by bettors in the edgebet community that will help maximize your profits during your lifetime as an edgebettor. This article is mainly written for the grinders, trying to extract a lot of money from the bookmakers.
  p
    | When using edgebet, you are consistently exploiting the weaknesses of the bookmakers. Obviously, they don't like that, as they don't like winning players. Earlier, we wrote a guide on
    a(target='_blank', href='http://blog.edgebet.net/staying-under-the-radar-avoid-getting-limited') &nbsp;how to avoid getting limited
    |, which revolves around disguising yourself as a fish. But here, I'll go more in-depth.
  h4 Use multiple bookmakers
  p
    | To maximize profits, you need to maintain a high turnover by placing many bets. When placing a high volume of bets, there are two ways of distributing that volume. One way is to use 1-3 bookmakers and placing on as many opportunities as you can, placing on all leagues, low percentage edges, and games that start more than a day ahead. Placing on low percentage edges and games that start far in the future,
    a(target='_blank', href='http://blog.edgebet.net/variance-and-how-to-minimize-it') &nbsp;will increase your variance as discussed here.
    strong &nbsp;The best way, by far
    | &nbsp;is to spread the volume throughout bookmakers, instead, and only take the best opportunities on each one. For grinders, this can't be stressed enough. By using 5 or more bookmakers, you can consistently place on the best opportunities, whilst maintaining a high volume and a lower variance by placing on higher edges, games closer to game time, and stick to recommended leagues. By doing this,
    strong &nbsp;your account on each bookmaker will last a lot longer.
  p
    | In our community, we've had people running through bookies, one by one. After signing up on a bookie, placing 200+ edgebets the first 24 hours, they're shut out, and that's that. Bookmakers are consistently trying to shut out winning players, and there are almost no losing players that put in that kind of volume, making you too easy to find and shut out.
  p
    | I understand that signing up to many bookmakers and keeping track of the websites and money management is a bit tedious, but if you're here to make some serious money, it's definitely the way to go. Personally, I'm using a password manager called
    a(target='_blank', href='https://www.dashlane.com/') &nbsp;Dashlane
    | &nbsp;to keep track of all the passwords in a secure way.
