extends ../articlebase
block articleContent
  h3 Staying under the radar - the Edgebet guide to avoid getting limited
  p
    | The biggest struggle profitable betters have is not getting limited from bookmakers.
    | We have put together a set of guidelines you can follow to extract even more value from the bookmakers.
  h4 Follow our recommended leagues
  p
    | Edgebet has a filter called recommended leagues. By selecting this, you'll only get edgebets from the leagues with the highest betting limits. This includes Premier League, Primera Divisione, NBA, NFL and many more. These leagues are the ones that most people bet on - so it's easy to hide in the mass of all the non-profitable betters.
  h4 Bet whole amounts
  p
    | Arbitrage betting is very usual in sports betting - so bookmakers look out for betsizing out of the ordinary. Instead of placing the exact recommended&nbsp;
    strong kelly &nbsp;
    | amount of $162, bet $160.
  h4 Never cashout before you have to
  p
    | Never cashout from a bookmaker before you're limited. Bookmakers are paying fees whenever you cash out, so that's an easy way for them to do a second look at your account. So you've tripled your bankroll in the past 3 weeks? Let's take an even closer look..
  h4 Don't push the max limits
  p
    | Let's say you try to place a bet of $250 on a game. The bookmaker may tell you that you can only place $238 on the particular bet. Instead of putting the $238, bet 60-70% of the max stake, in this case $150.
  p
    | Some bookmakers even give you the opportunity to automatically put the max limit of $238 and send the remaining $12 for manual clearance.
    strong &nbsp;Never do that.&nbsp;
  p
    | Add in some accumulators with a lower betsize. This will make you look more of a "fun bettor" and its something bookmakers appreciate. Lower your betsize for these as the variance is higher.
  h4 One bet per game
  p
    | Bookmakers place betting limits for a reason. The reason is usually that they're not really sure if their odds in a particular game is any good. If someone comes in and places bets on Over 198.5, Over 199.5, Over 200.5 and Over 201.5 - it's pretty clear that they're trying to get value. Bookmakers don't like that.
  p
    | Also - placing more than one bet on a game has a great impact on your variance. But that's a whole other discussion we'll touch upon in another blog post.
  h4 Make your first deposit small
  p
    | Try to look like a hobby sportsbetter. Depositing $10,000 in a brand new account is an obvious way to tell bookmakers that you're trying to beat them.
  h4 Wanna be really clever? Throw in an accumulator once in a while.
  p
    | Bookmakers makes most of their money from accumulators. Their margins increases for each bet in the accumulator. The variance is bigger, but matching different edges still give a positive expected value. By doing this, you look more like a non-profitable player to the bookmakers.
  h4 Nothing lasts forever
  p Unfortunately, by continously placing profitable bets and beating the bookmakers - chances are they will limit you eventually. After all - they are losing money on you.
  p However, by following these steps we are confident that your accounts will last longer, thus making more money from each and every bookmaker.
  p Good luck and happy betting!
