extends ../articlebase
block articleTitle
  | Variance and how to control it
block articleContent
  p
    | In this article, I'll briefly go into the different parameters that ultimately decides your variance. For the bettors out there that do not enjoy larger swings in your bankroll and deviance from your expected value, I'll also discuss what actions you can take in order to minimize those swings.
  p
    | First things first - swings in your bankroll are bound to happen. There's no way to avoid it all together. Also, bet sizing will not be discussed in this article, as it gets discussed pretty thorougly in
    a(href='//blog.edgebet.net/betsize-and-simulations') &nbsp;this article.
    | &nbsp;This article also assumes that you know roughly
    a(href='//blog.edgebet/what-is-an-edgebet-and-why-does-it-happen') &nbsp;what an edgebet is and how it occurs
    |, so if you feel like you need a better understanding - take a look at that blog article.
  p
    | When betting on edgebets - there are 4 main parameters that impacts your variance;
    ol
      li Odds
      li Time until the game starts
      li The edge %
      li Whether you place bets that are dependant of each other
  h4 Odds
  p
    | This is the most obvious one. The higher the odds you place on, the more swings you will see in your bankroll. The reason is quite simple; if you bet only on odds of 11 with an edge of 10%, you can expect the bet to be a winner one out of every 10 games, and you'll get paid back 11 times your wager. In theory, you'd then lose 9 bets in a row then win one and win back more than you lost in the previous 9 bets.
  h4 Time until the game starts
  p
    | The time until the game starts is quite important. The reason is, if you place a bet a full day before game start with an edge of 3% - new information may occur that could swing the bet out of your favor. To be extreme, there is a chance that all the key players of your team might lose their flight, making your team lose the game. There is also a chance that the bet gets stronger, as the same thing could happen to the opposing team. The only thing we can say for sure is that this will increase your variance, as the lines and the information are not settled yet.
  h4 The edge
  p
    | If you place on marginal edges (1-2%), chances are they can swing back if you place it a far from game time. The reason is that even the smallest piece of information may shift the market out of your favor. When you find higher edges, there is always a reason the market shifts so drastically - and the probability that it would shift back is higher. Most of the players in our community apply a rule of thumb that the longer it is until game time, the higher the edge threshhold is. For instance, if it's less than 2 hours until game time, I'll place on my full range. If it's 2-6 hours, I'll only place on 5%+ edges. If it's more than 6 hours, I might place on 8%+ edges.
  h4 Multiple lines on same game
  p
    | If you place multiple bets on the same game with dependant lines, you'll see huge swings. If you place bets on +0.25 Home, +0.5 Home, +0.75 Home, +1 Home as well as Home to win and you follow our bet sizing - you'll have a lot of money that the home team is going to win. Keep in mind that if you place on many lines on the same game you need to scale down the bet size. One could argue that decreasing the bet size and placing on multiple lines could decrease variance, for instance if there's an edge on Over 1.5 and Over 2.5 goals, you place half the bet size on both of them.
