extends ../articlebase
block articleContent
  h4 Welcome to the Edgebet blog
  p
    | We are very proud to announce our new blog. Here we will post articles about edgebetting, sportsbetting and requested articles from the community.
  p
    | Our great community of edgebetters broke every record possible in November. This led to a total profit of
    strong &nbsp;$163816
    |. Only in November. That's excellent.
  p
    | If there is any topics you want to us to write articles about, feel free to say so in comment field below. Other than that, you can always reach out to us at
    a(href="mailto:martin@edgebet.net")  martin@edgebet.net
    |  and
    a(href="mailto: jonas@edgebet.net")  jonas@edgebet.net
    |.
