extends ../articlebase
block articleTitle
  | What is an edgebet and how does it happen
block articleContent
  p
    | An edgebet is a bet where you've got the upper hand on bookmakers. Edgebet provides you with what we call an edge percentage, which is an estimate on how much you will profit off that bet. If you place $100 on a 8% edge, you can expect to net profit $100 * 8% = $8. There are mainly two reasons an edgebet occurs - and to understand them, we need to cover how the bookmakers operate.
  p
    | All bookmakers have a margin - that's ultimately how they make money. Their margin may vary from as low as 3% to as high as 20%. Imagine a pure coin flip where you can bet on heads or tails. The odds should be 2 on each side, which means 50% probability of hitting one of the sides. For bookmakers to make money, they put their odds at 1.8 on both sides, skimming 10% off whatever the winning bet is.
  p
    | The best bookmakers in the world are purely market driven, which means that when enough money are put on one of the sides, that odds will decrease while the other one increases. This means the odds are ultimately decided by the people who's betting. When the amount of money going through is high enough - the odds are as close to perfect as it will be. If it's too much off, people will bet on the side that are too much off and lower it. By looking at the odds of these high liquidity markets, one can acquire the knowledge of hundreds of thousands of people. Not many bookmakers can pull this off, because they don't have a large enough customer base makings things too uncertain. The ones that can are mostly placed in Asia.
  p
    | Now over to the edgebets. The first type of edgebet occurs when any kind of new information that impacts the game is acquired. A very good example is the FA cup game between Chelsea vs Manchester City on February 21st. A couple of hours before the game, the best odds you could get on Chelsea to win was around 1.75-1.8. Then, exactly 2 hours before the game the lineups went public - and it turned out that Manchester City brought five teenage full debutants in their lineup.
  img.img-responsive(src='/static/img/chelsea_city.png', width='100%')
  p
    | As seen in the picture, that information triggered a huge change in the market. All the high liquidity markets dropped from 1.75-1.8 to 1.35-1.45 in less than 10 minutes. However - a lot of the European bookmakers didn't react nearly quickly enough. Some bookmakers spent more than 30 minutes changing their odds. That means you could now get Chelsea to win at 1.7-1.8 when everyone else agreed they should have no more than 1.35-1.45. This turned out as an edge higher than 15%.
  p
    | The other type of Edgebet, occurs because there are a lot of bad sportsbetters out there betting with their heart. Often, most of the bets come in at one of the sides, let's say the home team. If 80% of the bets comes in at the home team, they might lower the odds on the home team to get a higher profit there, while letting those who bet on the other side have a very profitable bet. Here is a quote from the NFL Oddsmaker at Bovada
  .reddit-embed(data-embed-media="www.redditmedia.com", data-embed-parent="false", data-embed-live="true", data-embed-created="2016-03-14T16:48:19.206Z")
    a(href="https://www.reddit.com/r/IAmA/comments/2fhbw3/i_am_pat_morrow_the_head_nfl_oddsmaker_at_bovada/ck98qe0") Comment
    | from discussion
    a(href="https://www.reddit.com/r/IAmA/comments/2fhbw3/i_am_pat_morrow_the_head_nfl_oddsmaker_at_bovada/") I am Pat Morrow, the head NFL Oddsmaker at Bovada AMA!
  script(async, src="https://www.redditstatic.com/comment-embed.js")
  p
    | Edgebet is constantly search for these bets through millions of millions of odds. If you have any questions, feel free to ask in the comment field - and we'll make sure to answer them!
