extends ../articlebase
block articleTitle
  | Mine første dager med Edgebet
block articleContent
  p
    | Anders er student, 22 år og går 4. året på datateknikk ved NTNU. Uten å ha noe som helst kunnskap om sportsbetting, tok han på seg utfordringen å vokse 10,000 til 100,000 på 15 uker utelukkende ved hjelp av Edgebet. Vi skal følge hele prosessen via denne bloggen - og vi gir han ikke noe mer hjelp enn vi gir alle våre kunder.
  p
    | Mandag 29.02 laget jeg en bruker på Edgebet, og laget meg deretter bruker hos to bookmakere, Nordicbet og Expekt. Jeg meldte meg inn på disse to fordi de begge tok imot norsk bankkort og fordi begge hadde gode innskudsbonuser. Gjennom oddsen.nu fikk jeg 100% bonus innskudd opp til 5000, så jeg satt inn 5000 der. På expekt fikk jeg 100% innskuddsbonus opp til 4000, så jeg satt inn 4000 der. For å få fler bets meldte jeg meg inn på en tredje bookmaker, Bet365. De tok ikke norske kort, så jeg laget en konto hos Neteller for å kunne overføre penger.
  img.responsive-img(src='/static/img/dashboard_dag1.png', width='100%')
  p
    | Jeg følte det skjedde litt lite i starten, og fikk vite det var fordi det spilles få kamper tidlig i uken. Jeg valgte å spille kun på recommended leagues - som også gjorde at det var få spill. Spillene jeg satt de første dagene var alle over 3% edge, mindre enn 12 timer til kampene startet og recommended leagues. Jeg fulgte Kelly som er anbefalt betsize som vises på Edgebet, men rundet av til nærmeste 50- eller 100lapp. Hittil har jeg bare rukket å sette 6 bets - og 3 har gått inn. Det har ført til en profitt på ca 1000 NOK.
