extends ../articlebase
block articleTitle
  | Opp og ned og opp og ned
block articleContent
  p
    | Nå er det en liten stund siden sist oppdatering. Ting har gått litt opp og ned fra sist gang. I tiden rett etter forige innlegg hadde jeg en stor nedoversving og mistet over halve bankrollen min, hadde en profit på -5624. På tross av denne nedturen fortsatte jeg og spille. Heldigvis har det det gått oppover igjen, og har vært helt oppe på 5000, mens for øyeblikket er på på like under 2000.
  p
    | Det ble også lite betting rundt påsken da jeg var strandet på fjellet med kvikklunsj og ski istedet for internett og sport. Resultatet av dette var at jeg mistet gjennomspillingen av bonusen min på Nordicbet med 6%. Dette var svært irriterende da jeg i praksis tapte 5000, som jeg uten problem ville klart å spille meg til dersom jeg var hjemme i påsken. Lærdommen fra dette er at man må sette seg bedre inn i hvilke bonusvillkår som gjelder og passe på slik at man når omsetningsbeløpet. Til gjengjeld er både bonus på Bet365 og Unibet gjennomført så det er en ekstra 2000 til sammen derfra.
  p
    | Som også sikkert mange av dere har fått med dere har det vært noe oppdateringer på Edgebet. En ting som var litt kult med den nye siden var analytics siden. Flere ting her som var kult men en EV (forventningsverdi) har blitt lagt til sammen med profitten din. Det er veldig godt å se hvor man burde ligge i forhold til hvor man ligger. For min egen del var det morsommere å sette bet fordi EV grafen øker mer jo høyere turnover man har. I teorien så skal man jo ligge mer eller mindre omtrent på EV. EV grafen har også hjulpet litt på motivasjonen fordi profittlinja har begynt å nærme seg EVlinja mer og mer. Selv om man nærmer seg EV grafen er det litt skuffende å se at den ikke er høyere enn 8K, men turnroveren øker jo også mer når man får en høyere bankroll.
  img.responsive-img(src='/static/img/oppnedevgraf.png', width='100%')
  p
    | Jeg spiller for tiden på Bet365, Expekt, Marathon, Nordicbet og Unibet. Er veldig fornøyd med alle sidene med unntak Expekt som er helt ekstremt raske på å oppdatere oddsen din. Nesten selv når jeg er inne på expekt når edgen kommer så rekker jeg ofte ikke sette de. Ellers har jeg enda ikke blitt limitert hos noen av de andre sidene selv om jeg har satt på all leagues. Skal nevnes at han jeg bor med har blitt limitert fra Marathon selv om vi mer eller mindre har spillt på de samme kampene. Så vidt jeg har forstått det så er det litt tilfeldigheter som bestemmer hvor lenge men får lov til å hold på på de forskjellige sidene.
  p
    | Har også sett mindre på antall bets men mer på turnoveren min, har prøvd å sette meg mål rundt det å sette minimum 50% av bankrollen hver dag, men aller helst 100% eller mer. Det er ganske gøy å se at jeg faktisk har en turnover/omsetning på over 160.000 når jeg kun startet med 10.000.
  img.responsive-img(src='/static/img/oppnedstats.png', width='100%')
  p
    | I følge min totale EV skulle jeg ha tjent over 10.000, mens jeg kun har tjent 1586 (uten bonuser, 3586 inkludert bonuser). Håper på det kommer til å stabilisere seg etter hvert.
  img.responsive-img(src='/static/img/oppneddash.png', width='100%')
