extends ../articlebase
block articleTitle
  | Etter første helg
block articleContent
  p
    | I helgen var det flere bets enn hva det var i løpet av ukedagene og jeg fikk satt en del bets på bet365 og Nordicbet. En del av disse gikk inn, og søndag morgen var jeg oppe i en profitt på nesten 2000. Dessverre gikk det dårlig på søndag, da det var bets som ikke gikk inn og etter helgen var jeg såvidt i minus.
  p
    | Etter å ha satt noen bets i løpet av min første uke så har jeg erfart at det lønner seg å registrere bettene på Edgebet fortløpende ettersom man setter de på bookmakerne. Det er viktig for meg å ha oversikt i bettene mine så jeg vet hvor mye jeg har vunnet og tapt.
  p
    | En annen ting jeg har lagt merke til at noen av bettingsidene er ganske uoversiktlige. Noen av dem er også ganske trege, som gjør at det tar litt tid å sette bets. På Nordicbet er det ikke alltid kupongen med den oppsatte kamper forsvinner etter at jeg setter bettet. Dette førte til at jeg greide å sette dobbelt på den ene kampen i helgen - heldigvis gikk den inn.
  img.responsive-img(src='/static/img/profitt_anders_uke1.png', width='100%')
  p
    | Skulle gjerne få satt enda flere bets i helgen, men mesteparten av pengene ligger inne hos Nordicbet og Expekt, og ikke på Bet365 der det er flest edgebets. I og med at edgebets foreslår beløp man satser basert på total kapital, så skal det ikke så mange dårlige bets til før det er lite penger igjen hos bet365.
  p
    | Prøvde å kun spille på recommended leagues i starten fordi jeg hadde lest at men ikke blir så fort limitert av å bare spille på de. Men det var litt for kjedelig fordi det var så få edgebets på Nordicbet og Expect så har satt noen bets på all leagues i periodene som det har vært lite bets. Han jeg bor med spiller på Marathonbet og det ser ut til være ekstremt mange bets der. Så tenker å lage en bruker der som neste sted når jeg får spillt igjennom bonusene mine.
  img.responsive-img(src='/static/img/dashboard_anders_uke1.png', width='60%')
